Binaries
Build
Deploy
ipch
obj
bin
temp
TestResults
packages
.svn
*.suo
*.opensdf
.directory
*.generated.cs
*.md.pc
*.userprefs
*.csproj~
*.sdf
*.user
*.psess
*.vsp
*.vspx
*.ipch
*.nvuser
*.sln.ide
*.assets
*.*~*
*.g.*
.vs/